@font-face {
   	font-family: Kurale;
    src: url(fonts/Kurale.ttf);
}

.txt1 {
	position: absolute;
	bottom: 130px;
	left: 50px;
	width: 600px;
	height: 300px;
	resize: none;
	font-family: kurale;
	font-weight: bold;
	font-size: 18px;
	border-radius: 10px;
}

.txt2 {
	position: absolute;
	bottom: 130px;
	right: 50px;
	width: 600px;
	height: 300px;
	resize: none;
	font-family: kurale;
	font-weight: bold;
	font-size: 18px;
	border-radius: 10px;
}

.v1 {
	position: absolute;
	top: 140px;
	right: 280px;
	font-size: 20px;
}

.v2 {
	position: absolute;
	top: 140px;
	left: 270px;
	font-size: 20px;
}

body {
	font-family: kurale;
	font-weight: bold;
	font-size: 18px;
}

button {
	position: absolute;
	bottom: 40px;
	width: 200px;
	height: 35px;
	font-family: kurale;
	font-size: 18px;
	font-weight: bold;
	border-radius: 20px;
	left: 580px;
}

#school {
	width: 130px;
	height: 130px;
	position: absolute;
	top: 20px;
	right: 615px;
}

@media screen and (max-width: 480px) {
	img {
		position: absolute;
		top: 10px;
		left: 95px;
	}
	.v1 {
		position: absolute;
		top: 420px;
		left: 60px;
		width: 250px
	}
	.v2 {
		position: absolute;
		top: 140px;
		left: 60px;
		width: 250px
	}
	.txt1 {
		position: absolute;
		left: 6.3px;
		top: 200px;
		width: 280px;
		height: 180px;
	}
	.txt2 {
		position: absolute;
		left: 6.3px;
		top: 475px;
		width: 280px;
		height: 180px;
	}
	.name {
		position: absolute;
		top: 680px;
		left: 0px;
	}
	.site {
		position: absolute;
		top: 660px;
	}
	button {
		position: absolute;
		top: 400px;
		left: 55px;
	}
}

